<head th:fragment="header-css-js">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/icon-logo.png}" type="images/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/lib/bower_components/sweetalert2/dist/sweetalert2.js}"></script>
</head>
