<nav th:fragment="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px;">
    <ul class="nav nav-pills flex-column mb-auto" th:switch="${session.loggedInUser?.role?.name}">
        <th:block th:case="'ADMIN'">
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a></li>
            <li><a class="nav-link" th:href="@{/admin/ambulances}">Quản lý xe</a></li>
            <li><a class="nav-link" th:href="@{/admin/brand-ambulances}">Quản lý hãng xe</a></li>
            <li><a class="nav-link" th:href="@{/admin/hospitals}">Quản lý bệnh viện</a></li>
            <li><a class="nav-link" th:href="@{/admin/drivers}">Quản lý tài xế</a></li>
            <li><a class="nav-link" th:href="@{/admin/medicalStaffs}">Quản lý nhân viên y tế</a></li>
            <li><a class="nav-link" th:href="@{/admin/provinces}">Quản lý tỉnh</a></li>
            <li><a class="nav-link" th:href="@{/admin/districts}">Quản lý huyện</a></li>
            <li><a class="nav-link" th:href="@{/admin/wards}">Quản lý phường</a></li>
            <li><a class="nav-link" th:href="@{/admin/status}">Quản lý trạng thái</a></li>
            <li><a class="nav-link" th:href="@{/admin/bookings}">Lịch sử điều xe</a></li>
        </th:block>
        <th:block th:case="'DRIVER'">
            <li class="nav-item"><a class="nav-link" th:href="@{/driver/dashboard}">Dashboard</a></li>
            <li><a class="nav-link" th:href="@{/driver/profile}">Thông tin cá nhân</a></li>
            <li><a class="nav-link" th:href="@{/driver/schedule}">Lịch lái xe</a></li>
        </th:block>
        <th:block th:case="'MEDICAL'">
            <li class="nav-item"><a class="nav-link" th:href="@{/medical/dashboard}">Dashboard</a></li>
            <li><a class="nav-link" th:href="@{/medical/profile}">Thông tin cá nhân</a></li>
            <li><a class="nav-link" th:href="@{/medical/schedule}">Lịch đi kèm</a></li>
        </th:block>
    </ul>
</nav>
