<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<h2>Đăng nhập</h2>
<p th:text="${error}" style="color:red"></p>
<p th:text="${success}" style="color:green"></p>
<form th:action="@{/login}" method="post">
    <label>Username:</label>
    <input type="text" name="username"/>
    <br/>
    <label>Password:</label>
    <input type="password" name="password"/>
    <br/>
    <button type="submit">Login</button>
</form>
<p><a th:href="@{/register}">Đăng ký</a></p>
</body>
</html>
